ALTER TABLE announcements DROP FOREIGN KEY FKht7cvemps7a8tjylacwtyyckj; ALTER TABLE announcements ADD CONSTRAINT FKht7cvemps7a8tjylacwtyyckj FOREIGN KEY (created_by) REFERENCES users(id) ON DELETE CASCADE;
ALTER TABLE course_attendances DROP FOREIGN KEY FKs2n924be0toqomxa70mnw0ge7; ALTER TABLE course_attendances ADD CONSTRAINT FKs2n924be0toqomxa70mnw0ge7 FOREIGN KEY (student_id) REFERENCES users(id) ON DELETE CASCADE;
ALTER TABLE enrollments DROP FOREIGN KEY FK2lha5vwilci2yi3vu5akusx4a; ALTER TABLE enrollments ADD CONSTRAINT FK2lha5vwilci2yi3vu5akusx4a FOREIGN KEY (student_id) REFERENCES users(id) ON DELETE CASCADE;
ALTER TABLE exam_seatings DROP FOREIGN KEY FK90mhw38l18ndxgninlmgnvm7e; ALTER TABLE exam_seatings ADD CONSTRAINT FK90mhw38l18ndxgninlmgnvm7e FOREIGN KEY (student_id) REFERENCES users(id) ON DELETE CASCADE;
ALTER TABLE faculty_workload DROP FOREIGN KEY FK9o84mkajni4idsbclbdkbwdfi; ALTER TABLE faculty_workload ADD CONSTRAINT FK9o84mkajni4idsbclbdkbwdfi FOREIGN KEY (faculty_id) REFERENCES users(id) ON DELETE CASCADE;
ALTER TABLE fee_records DROP FOREIGN KEY FKjg0koey7xvwtxo7ite5mfkjl1; ALTER TABLE fee_records ADD CONSTRAINT FKjg0koey7xvwtxo7ite5mfkjl1 FOREIGN KEY (student_id) REFERENCES users(id) ON DELETE CASCADE;
ALTER TABLE leave_requests DROP FOREIGN KEY FK9fdtjpj0jbryjkbkmscepov4p; ALTER TABLE leave_requests ADD CONSTRAINT FK9fdtjpj0jbryjkbkmscepov4p FOREIGN KEY (student_id) REFERENCES users(id) ON DELETE CASCADE;
ALTER TABLE mentorship_meetings DROP FOREIGN KEY FKjx2fenowlwaisuoi6thv70kh8; ALTER TABLE mentorship_meetings ADD CONSTRAINT FKjx2fenowlwaisuoi6thv70kh8 FOREIGN KEY (mentee_id) REFERENCES users(id) ON DELETE CASCADE;
ALTER TABLE mentorship_meetings DROP FOREIGN KEY FKwfa4vqjoutmwt1t3ybi52pd6; ALTER TABLE mentorship_meetings ADD CONSTRAINT FKwfa4vqjoutmwt1t3ybi52pd6 FOREIGN KEY (mentor_id) REFERENCES users(id) ON DELETE CASCADE;
ALTER TABLE results DROP FOREIGN KEY FKd01ywcs1umhms0bplqyy8axm0; ALTER TABLE results ADD CONSTRAINT FKd01ywcs1umhms0bplqyy8axm0 FOREIGN KEY (student_id) REFERENCES users(id) ON DELETE CASCADE;
ALTER TABLE sections DROP FOREIGN KEY FKfyr7al7hgtkvlr1di9tq3xi5e; ALTER TABLE sections ADD CONSTRAINT FKfyr7al7hgtkvlr1di9tq3xi5e FOREIGN KEY (faculty_id) REFERENCES users(id) ON DELETE CASCADE;
ALTER TABLE student_attendance DROP FOREIGN KEY FKl2hnitwup08lu2oy0ujjlk46e; ALTER TABLE student_attendance ADD CONSTRAINT FKl2hnitwup08lu2oy0ujjlk46e FOREIGN KEY (student_id) REFERENCES users(id) ON DELETE CASCADE;
ALTER TABLE student_details DROP FOREIGN KEY FKn27n7goq8htxyvgkultk957da; ALTER TABLE student_details ADD CONSTRAINT FKn27n7goq8htxyvgkultk957da FOREIGN KEY (mentor_id) REFERENCES users(id) ON DELETE CASCADE;
ALTER TABLE student_details DROP FOREIGN KEY FKt5phq64s517nt34bmyybwlnt4; ALTER TABLE student_details ADD CONSTRAINT FKt5phq64s517nt34bmyybwlnt4 FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE;
ALTER TABLE submissions DROP FOREIGN KEY FK3p6y8mnhpwusdgqrdl4hcl72m; ALTER TABLE submissions ADD CONSTRAINT FK3p6y8mnhpwusdgqrdl4hcl72m FOREIGN KEY (student_id) REFERENCES users(id) ON DELETE CASCADE;
